*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background:  repeat center center/5% url('./images/nav.png'),
    content-box radial-gradient(crimson, skyblue);

}
a{
    color: inherit;
    text-decoration: none;
}
image{
    max-width: 100%;
    max-height: 100%;
}
ul,ol{
    list-style: none;
}
header{
    overflow: hidden;
}
.g-header .searchForm{
    /* border:1px solid red; */
    margin: 3vw;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 500px){
    .g-header .searchForm{
        max-width: 800px;
        margin: 3vw auto;
    }
}
.g-header .searchForm>input{
    width: 100%;
    height: 40px;
    padding: 0 18px;
    font-size: 18px;
    outline: none;;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.g-header .searchForm>button{
    white-space: nowrap;
    margin-left: 10px;
    padding: 0 18px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #03C0FC;
    color: white;
}
.g-main{
    border:1px solid red;
}
.g-main> .setItemWrapper{
    margin: 0 3vw;
    /* display:flex;
    justify-content: center; */
}

@media (min-width: 500px){
    .g-main> .setItemWrapper{
        max-width: 1250px;
        margin: 0 auto;
    }
}
.g-main> .setItemWrapper ol{
    display: flex;
    flex-wrap: wrap;
    margin-right: -3vw;
    justify-content: space-between;
}
@media (min-width: 500px){
    .g-main> .setItemWrapper ol{
        justify-content: flex-start;
    }
    
}


.g-main> .setItemWrapper>ol>.item{
    border:1px solid black;
    width: 160px;
    margin-bottom: 20px;
    margin-right: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    position:relative;
}
.g-main> .setItemWrapper ol >.item>.icon{
    position:absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
}
.g-main>.setItemWrapper ol >.item .logo{
    font-size: 72px;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
} 


.g-main>.setItemWrapper ol >.item .logo .icon{
    width: 64px;
    height: 64px;
}
.g-main>.setItemWrapper ol >.item .url{
    font-size: 18px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    overflow: hidden;  /*超出部分隐藏*/
    white-space: nowrap;  /*禁止换行*/
    text-overflow: ellipsis; /*省略号*/
}
.g-main>.setItemWrapper ol >.item .close{
    opacity: 0;
    transition: opacity 0.5s;
    cursor:pointer;
}
.g-main>.setItemWrapper ol >.item:hover .close{
    opacity: 1
}